<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotkovets.fines">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".modules.app.CurrentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".modules.list.view.DriversListActivity"
            android:label="@string/title_drivers"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".modules.add.view.AddUserActivity"
            android:label="@string/title_new_driver"
            android:parentActivityName=".modules.list.view.DriversListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.list.view.DriversListActivity" />
        </activity>
        <activity
            android:name=".modules.widget.config.userinterface.view.WidgetConfigActivity"
            android:label="@string/title_activity_widget_config"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".modules.launcher.view.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0cd0fd22c9211617da5430362d7c5d3aa96e82cf" />
    </application>

</manifest>